<div id="mirador" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"></div>
<script type="text/javascript" src="https://unpkg.com/mirador@alpha"></script>
<script type="text/javascript">
  var miradorInstance = Mirador.viewer({
    id: 'mirador',
    windows: [{
      loadedManifest: '{{ include.manifest | absolute_url }}',
    }],
    window: {
      allowClose: false,
      allowMaximize: false,
      defaultSideBarPanel: 'info',
      defaultView: 'gallery',
      sideBarOpenByDefault: true,
    },
    thumbnailNavigation: {
      defaultPosition: 'off',
    },
    workspace: {
      type: 'mosaic', // Which workspace type to load by default. Other possible values are "elastic"
    },
    workspaceControlPanel: {
      enabled: false,
    },
  });
</script>
